/*********************************************************/
/* Hoja de estilos desarrollada por Javier LOpez Sanchez */
/*********************************************************/

/* HOJA DE ESTILOS DE LA PAGINA DE GALERIA */

body { background-color: #000000; }

.imagen_galeria
{
	margin: 25px;
    width: 400px;
    border: 4px solid #ffffff;
}

#galeria_cuerpo
{

	height: 100%;
	padding-top: 100px;


	background-color: #000000;

}