/*********************************************************/
/* Hoja de estilos desarrollada por Javier LOpez Sanchez */
/*********************************************************/

/* HOJA DE ESTILOS DE LA PAGINA DE GALERIA */

body { background-color: #000000; }

.imagen_galeria
{
	margin: 25px;
    width: 400px;
    border: 4px solid #ffffff;
}

.enlace_galeria_container
{
	position: relative;
	display: flex;
	text-align: center;
	cursor: pointer;
}



.enlace_galeria
{

	opacity: 25%;

}
.enlace_galeria_container:hover > img
{
    opacity: 75%;
}

.enlace_galeria_texto
{
	position: absolute;
	padding: 100px 165px;
	color: #ffffff;
}
.enlace_galeria_container:hover > p
{
    opacity: 0%;
}

#galeria_cuerpo
{

	height: 100%;
	padding-top: 100px;


	background-color: #000000;

}

.galeria_fila
{

	display: flex;

}

.galeria_columna
{

	width: 450px;

}