/*********************************************************/
/* Hoja de estilos desarrollada por Javier LOpez Sanchez */
/*********************************************************/

/* HOJA DE ESTILOS DE LA PAGINA PRINCIPAL */

/************************************************/
/* TItulo de la pAgina (Nombre del gimnasio) */
/***********************************/
#titulo_pagina
{

	/* Estructura */
	position: relative;
	display: flex;
	width: 100%;
	padding: 25px 0px;
	text-align: center;

	/* Colores */
	color: white;
	
	/* Fuente */
	font-size: 35px;

	/* Prioridad */
	z-index: 998;

}
/***********************************/
#titulo_pagina .titulo_4
{
	
	/* Estructura */
	position: absolute;
	top: 50px;
	width: 100%; 
}
/***********************************/
#titulo_pagina h4 { width: 100%; }
/**********************************************************************/



/**********************************************************************/
/* SecciOn Principal */
/***********************************/
#seccion_principal
{

	/* Estructura */
	position: absolute;
	bottom: 200px;
	width: 100%;
	height: 200px;
	display: flex;
	
	/* Color */
	background-color: #ffffff;

}
/***********************************/
#seccion_principal .titulo_1, #seccion_principal .contenido
{
	/* Estructura */
	width: 60%;
	margin: auto 40px;
}
/**********************************************************************/
#seccion_principal #contacto
{

	/* Estructura */
	display: flex;
	width: 100%;

}
/***********************************/
#seccion_principal .contacto_seccion
{

	/* Estructura */
	width: 100%;
	text-align: center;

}
/***********************************/
#seccion_principal #contacto #telefono_seccion  { margin-left : 100px; margin-right: 0px; }
#seccion_principal #contacto #direccion_seccion { margin-right: 100px; margin-left : 0px; }
/***********************************/
#seccion_principal #contacto i
{
	
	/* Estructura */
	margin: 15px 0px;

	/* Tamanio */
	font-size: 30px;

}
/**********************************************************************/



/**********************************************************************/
/**********************************************************************/
/* VERSION MOVIL */
/**********************************************************************/
/**********************************************************************/
@media (max-device-width: 600px) {

/***********************************/
/* SecciOn Principal -> Centrar */
#seccion_principal
{
	
	/* Estructura */
	display: block;
	bottom: 50%;
	
}
/***********************************/
#seccion_principal .titulo_1, #seccion_principal .contenido
{
	
	/* Estructura */
	width: 100%;
	margin: 0px;
	padding: 0px;
	text-align: center;
	
}
/***********************************/
#seccion_principal #contacto
{

	/* Estructura */
	margin-top: 150px;

}
/***********************************/
}
/**********************************************************************/
/**********************************************************************/