#titulo_pagina
{

	/* Estructura */
	position: relative;
	display: flex;
	width: 100%;
	margin: -8px;
	padding: 25px 0px;
	text-align: center;

	/* Colores */
	color: white;
	

	/* Fuente */
	font-size: 50px;

}

/**********************************************************************/
/* Imagen de fondo*/
.fondo
{

	/* Estructura */
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	
	/* Color Opacidad */
	background-color: black;
	

}
.fondo img
{

	/* Estructura */
	width: 100%;
	
	/* Formato */
	opacity: 30%;
}
/**********************************************************************/

.cabecera
{

	/* Estructura */
	position: relative;
	margin: -8px;
	height: 150px;

	/* Color */
	background-color: rgb(255, 255, 255);

}
.cabecera img
{

	/* Estructura */
	position: absolute;
	width: 300px;

}

#titulo_pagina .titulo_4 { position: absolute; width: 100%;  }
#titulo_pagina h4 { width: 100%; }
/**********************************************************************/

.imagenFadeIn { animation: imageFadeInAnim 3s; }
@keyframes imageFadeInAnim {
	from { opacity: 0; }
	to   { opacity: 0.5; }
}

.imagenFadeOut { animation: imagenFadeOutAnim 3s; }
@keyframes imagenFadeOutAnim {
	from { opacity: 0.5; }
	to   { opacity: 0; }
}